body
{
    color:deeppink;
}
table
{
    background-image: url(../imgs/Dunkin-Donuts-Vanilla-Sprinkled.jpg);
}
a:hover {
  background-color: skyblue;
}
html{background-color: aquamarine;
background-image: url(../imgs/pancake_PNG111.png);}